body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
}

.header-div {
  width: 100vw;
}

.main-div {
  flex: 1;
  order: 1;
}

.footer-div {
  width: 100vw;
  bottom: 0;
  order: 2;
  clear: both;
  /* margin-top: 20px; */
  
}